body{
    background-image: url("../media/background.jpg");
    text-align: center;
}
h1{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 5.5em;
    animation-name: comeup;
    animation-duration: 1s;
}
h2{
    font-family: "Darker Grotesque", sans-serif;
    color: white;
    font-size: 2.3em;
}
h3{
    font-family: "Darker Grotesque", sans-serif;
    color: white;
    font-size: 2em;
}
p{
    font-family: "Darker Grotesque", sans-serif;
    color: wheat;
    font-size: 1.4em;
}
#h2Game{
    margin-top: -3%;
}
#home-button{
    width: 50px;
    color: white;
    margin-top: 1%;
}
button{
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.5em;
    background-color: #404040;
    border: none;
    color: white;
    width: 300px;
    height: 50px;
    margin-bottom: 1.5%;
    border-radius: 10%;
    transition-duration: 0.3s;
}
button:hover{
    font-size: 2em;
    background-color: wheat;
    color: black;
    width: 340px;
}
#addPicture{
    margin-bottom: 2%;
    font-family: "Darker Grotesque", sans-serif;
    color: wheat;
    font-size: 1.5em;
}
#pictureOrigin{
    width: 30%;
    padding-top: 0.1%;
}
#registrationForm{
    margin-bottom: 2%;
    font-family: "Darker Grotesque", sans-serif;
    color: wheat;
    font-size: 1.5em;
}
#lastname{
    width: 18%;
    padding-top: 0.1%;
}
#firstname{
    width: 18%;
    padding-top: 0.1%;
}
a{
    color: wheat;
}
.picture{
    width: 150px;
    height: 150px;
    margin-right: 5%;
    object-fit: cover;
}
.pictureTable{
    margin-left: auto;
    margin-right: auto;
}
.adminImages{
    width: 250px;
    height: 250px;
    /*Die folgende Zeile ist Fremd-Code und stammt von: https://www.w3schools.com/css/css3_object-fit.asp*/
    object-fit: cover;
    /*Ende Fremd-Code*/
}
#dataOutput{
    height: 100px;
}
.hideImage{
    display: none;
}
.setOpacityDown{
    opacity: 0%;
}
.setOpacityUp{
    opacity: 100%;
}
.hiddenFormulare{
    display: none;
}
/*Tablet*/@media screen and (max-width: 1024px) {
h1{
    font-size: 4.5em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.7em;
}
p{
    font-size: 1.2em;
}
#pictureOrigin{
    width: 50%;
}
#lastname{
    width: 35%;
    padding-top: 0.1%;
}
#firstname{
    width: 35%;
    padding-top: 0.1%;
}
}

/*Smartphone*/@media screen and (max-width: 600px) {
h1{
    font-size: 3.2em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.7;
}
p{
    font-size: 1.3em;
}
button{
    font-size: 1.5em;
    width: 300px;
    height: 50px;
    margin-bottom: 5%;
}
#pictureOrigin{
    width: 75%;
    margin-bottom: 8%;
}
#lastname{
    width:70%;
    padding-top: 0.1%;
}
#firstname{
    width: 70%;
    padding-top: 0.1%;
}
#h2Game{
    margin-top: -10%;
}
.picture{
    width: 80px;
    height: 80px;
    margin-right: 5%;
    object-fit: cover;
}
.pictureTable{
    margin-top: -5%;
}
}