body{
    /*background-image: url("Medien/concrete.jpg");*/
    background-color: rgb(48,48,48);
    text-align: center;
    max-width: 800px;
    margin: auto;
}
main{
    margin: auto;
    max-width: 800px;
    margin-top: 12%;
}
main h1{
    color: white;
    opacity: 75%;
}
main h2{
    color: white;
    opacity: 75%;
}
main h3{
    color: white;
    opacity: 75%;
}
main li{
    color: white;
    opacity: 75%;
}
main p{
    color: white;
    opacity: 75%;
}
header{
    text-align: center;
    max-width: 800px;
}
main a{
    color: turquoise;
}
a{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
audio + p{
    font-size: 1.2em;
}
ol *{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
main > h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    text-decoration: underline;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
}
#Referenzbilder{
    animation-duration: 3s;
    animation-name: grow;
    max-width: 100%;
}
@keyframes grow {
    from{
        width: 80%;
    }
    to{
        width: 100%;
    }
}
#portrait{
    max-width: 35%;
    animation-duration: 3s;
    animation-name: grow2;
}
@keyframes grow2{
    from{
        width: 25%;
    }
    to{
        width: 35%;
    }
}
.kontaktformular{
    text-align: center;
    border: none;
}
input{
    padding-bottom: 3%;
    font-size: 1em;
    text-align: center;
    color: white;
    background-color: rgb(194, 194, 194);
    border: none;
}
#nachrichtenfenster{
    padding-bottom: 20%;
    width: 80%;
}
button{
    color: white;
    background-color: rgb(194, 194, 194);
    border: none;
    padding: 0.75%;
}
button:hover{
    background-color: rgb(48, 48, 48);
}
.liste{
    text-align: left;
    margin-left: 35%;
}
#seitenanfang{
    font-size: 4.5em;
    color: bisque;
    background-color: rgb(80,80,80);
    margin-bottom: 5%;
    opacity: 100%;
    text-decoration: none;
    animation-duration: 3s;
    animation-name: comeup;
    width: 100%;
}
@keyframes comeup{
    from{
        opacity: 0%;
        margin-bottom: 1%;
        font-size: 3em;
        width: 70%;
    }
    to{
        opacity: 100%;
        margin-bottom: 5%;
        font-size: 4.5em;
        width: 100%;
    }
}
#sticky-nav-content{
    color: white;
    background-color: black;
    text-decoration: none;
    position: fixed;
    padding: 15px;
    top: 0;
    margin-left: 36%;
}
.sticky-nav{
    position: sticky;
    max-width: 800px;
}
nav a{
    color:white;
    text-decoration: none;
    font-size: 1.1em;
}
nav a:hover{
    color: rgb(153, 77, 0);
}
#instagram{
    width: 5%;
    margin-left: 58%;
    margin-top: 0.5%;
}
#instagram:hover{
    scale: +1.2;
}
a [href = "#seitenanfang"]{
    color: bisque;
}
#briefumschlag{
    width: 20%;
    animation-duration: 3s;
    animation-name: grow-brief;
}
@keyframes grow-brief{
    from{
        width: 10%;
    }
    to{
        width: 20%;
    }
}
#aktuelle_index{
    color: bisque;
}
#aktuelle_uebermich{
    color: bisque;
}
#aktuelle_kontakt{
    color: bisque;
}
/*Tablet*/@media screen and (max-width: 1024px) {
    #sticky-nav-content{
        color: white;
        background-color: black;
        text-decoration: none;
        position: fixed;
        padding: 15px;
        top: 0;
        margin-left: 25%;
    }
    .sticky-nav{
        position: sticky;
        width: 100%;
    }
    nav a{
        color:white;
        text-decoration: none;
        font-size: 1.5em;
    }
    nav a:hover{
        color: rgb(153, 77, 0);
    }
    #instagram{
        display: none;
    }
}
/*Smartphone*/@media screen and (max-width: 600px) {
    #sticky-nav-content{
        color: white;
        background-color: black;
        text-decoration: none;
        position: fixed;
        padding: 15px;
        top: 0;
        margin-left: 0.5%;
        margin-bottom: 5%;
    }
    .sticky-nav{
        position: sticky;
        width: 100%;
    }
    nav a{
        color:white;
        text-decoration: none;
        font-size: 1.4em;
    }
    nav a:hover{
        color: rgb(153, 77, 0);
    }
    #instagram{
        display: none;
    }
    #seitenanfang{
        font-size: 3em;
        text-align: center;
        color: bisque;
        background-color: rgb(80,80,80);
        margin-bottom: 5%;
        margin-top: 20%;
        opacity: 100%;
        text-decoration: none;
        animation-duration: 3s;
        animation-name: comeup;
        width: 100%;
    }
    @keyframes comeup{
        from{
            opacity: 0%;
            margin-bottom: 1%;
            font-size: 2em;
            width: 70%;
        }
        to{
            opacity: 100%;
            margin-bottom: 5%;
            font-size: 3em;
            width: 100%;
        }
    }
    #video1{
        width: 100%;
    }
    #seitenanfang2{
        margin-top: 20%;
    }
    #seitenanfang3{
        margin-top: 20%;
    }
    .liste{
        text-align: center;
        margin: auto;
    }
}